@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lato:wght@400;700&display=swap');
*{
    width: 1440px;
    margin: auto;
    font-family: 'Lato', sans-serif;
}
div.header{
    background-color: transparent;
    position: fixed;
    padding-top: 59px;
    padding-left: 816px;
    z-index: 10;
    width: 624px;
}
div.header a{
    text-decoration: none;
    color: #e9b48b;
    font-size: 30.5px;
    padding-left: 24px;
    text-transform: uppercase;
}
div.block1{
    background-image: url(images/img1.jpg);
    height: 1000px;
}
.block1 img{
    position: absolute;
    width: 131px;
    padding-top: 195px;
}
img.img2{
    padding-left: 680px;
}
img.img3{
    padding-top: 745px;
    padding-left: 662px;
    width: 107px;
}
img.img4{
    padding-left: 1357px;
    padding-top: 145px;
    width: 83px;
}
img.img5{
    padding-left: 1298px;
    padding-top: 810px;
    width: 127px;
}
img.logo{
    padding-left: 975px;
    padding-top: 210px;
    width: 262px;
}
img.img6{
    padding-top: 442px;
    padding-left: 855px;
    width: 516px;
}
div.block1 h2{
    position: absolute;
    font-size: 65px;
    font-family: 'Amatic SC', cursive;
    margin-top: 460px;
    margin-left: 946px;
    color: #fff;
    z-index: 100;
    width: auto;
}
div.block1 h3{
    position: absolute;
    font-size: 40px;
    margin-top: 605px;
    margin-left: 940px;
    color: #89b254;
    width: auto;
}
div.block1 button{
    position: absolute;
    margin-top: 730px;
    margin-left: 910px;
    width: 390px;
    height: 80px;
    border-radius: 10px;
    border: none;
    background-color: #f7852f;
    color: #ffffff;
    font-size: 40px;
}
div.block2{
    margin-top: 72px;
    background-image: url(images/img7.jpg);
    height: 875px;
}
div.block2 img.img8{
    position: absolute;
    margin-top: 57px;
    margin-left: 320px;
    width: 846px;
}
div.block2 span{
    position: absolute;
    margin-top: 77px;
    margin-left: 520px;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    width: auto;
    color: #ffffff;
    z-index: 12;
}
div.block2 img.img9{
    position: absolute;
    margin-left: 95px;
    margin-top: 55px;
    width: 101px;
}
div.block2 img.img10{
    position: absolute;
    margin-left: 1274px;
    margin-top: 48px;
    width: 142px;
}
div.block2 img.img11{
    position: absolute;
    margin-left: 70px;
    margin-top: 792px;
    width: 134px;
}
div.block2a{
    position: absolute;
    background-color: rgba(247, 133, 47, .7);
    margin-top: 188px;
    margin-left: 102px;
    border: none;
    border-radius: 78px;
    width: 1238px;
    height: 520px;
}
div.block2a div{
    position: absolute;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    margin-left: 230px; 
    margin-top: 192px; 
    font-size: 40px;
    width: auto; 
}
div.block2a div h2{
    font-size: 90px;
    width: auto;
}
div.block2a div p{
    padding-left: 20px;
    width: auto;
}
div.block2a div.label1{
    margin-left: 450px;
}
div.block2a div.label2{
    margin-left: 670px;
}
div.block2a div.label3{
    margin-left: 885px;
}
div.block2a span.line{ 
    position: absolute;
    margin-left: 175px;
    margin-top: 230px;
    border-color: #ffffff;
    border: solid;
    border-left: 2px;
    border-radius: 2px;
    height: 30px;
}
div.block2a span.line#line1{
margin-left: 390px;
}
div.block2a span.line#line2{
    margin-left: 610px;
}
div.block2a span.line#line3{
    margin-left: 825px;
}
div.block2a span.line#line4{
    margin-left: 1045px;
}
div.block3{
    background-color: #85a333;
    margin-top: 64px;
    height: 820px;
    color: #ffffff;
}
div.block3 img.img12{
    position: absolute;
    margin-left: 35px;
    margin-top: 40px;
    width: 131px;
}
div.block3 img.img13{
    position: absolute;
    margin-top: 55px;
    margin-left: 1195px;
    width: 83px;    
}
div.block3 img.img14{
    position: absolute;
    margin-top: 670px;
    margin-left: 5px;
    width: 101px;    
}
div.block3 img.img15{
    position: absolute;
    margin-top: 700px;
    margin-left: 620px;
    width: 113px;    
}
div.block3 img.img16{
    position: absolute;
    margin-top: 682px;
    margin-left: 1335px;
    width: 101px;    
}
div.block3 img.img17{
    position: absolute;
    margin-top: 43px;
    margin-left: 592px;
    width: 262px;    
}
div.block3 h2{
    position: absolute;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    width: auto;
    margin-left: 650px;
    padding-top: 42px;
    color: #85a333;
}
div.block3 span{
    position: absolute;
    font-size: 40px;
    text-transform: uppercase;
    margin-left: 560px;
    margin-top: 132px;
    width: auto;
}
div.block3 img.img18{
    position: absolute;
    margin-top: 200px;
    margin-left: 180px;
    width: 339px;    
}
div.block3 img.img19{
    position: absolute;
    margin-top: 200px;
    margin-left: 553px;
    width: 339px;    
}
div.block3 img.img20{
    position: absolute;
    margin-top: 200px;
    margin-left: 925px;
    width: 339px;    
}
div.block3a{
    position: absolute;
    background-color: #e7e7e7;
    width: 339px;
    height: 197px;
    margin-left: 180px;
    margin-top: 500px;
}
div.block3b{
    position: absolute;
    background-color: #e7e7e7;
    width: 339px;
    height: 197px;
    margin-left: 553px;
    margin-top: 500px;
}
div.block3c{
    position: absolute;
    background-color: #e7e7e7;
    width: 339px;
    height: 197px;
    margin-left: 925px;
    margin-top: 500px;
}
div.block3 div h2{
    font-family: 'Lato', sans-serif;
    color: #4f4e4e;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 21px;
    padding-top: 0;
    width: auto;
}
div.block3 div h3{
    font-family: 'Lato', sans-serif;
    color: #4f4e4e;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 60px;
    width: auto;
}
div.block3 div p{
    font-family: 'Lato', sans-serif;
    color: #4f4e4e;
    margin-left: 20px;
    font-size: 16px;
    font-weight: normal;
    margin-top: 12px;
    width: auto;
}
div.block3 div button{
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: flex-start;
    padding-left: 0;
    background-color: #e7e7e7;
    color: #4f4e4e;
    margin-left: 20px;
    font-weight: 700;
    width: 100px;
    margin-top: 25px;
    border: solid 7px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #668c00;
    font-size: 13px;
    text-transform: uppercase;

}
div.block4{
    background-color: #ffffff;
    height: 597px;
}
div.block4 img.img21{
    position: absolute;
    margin-left: 970px;
    margin-top: 90px;
    width: 450px;
}
div.block4 img.img22{
    position: absolute;
    margin-left: 35px;
    margin-top: 25px;
    width: 131px;
}
div.block4 img.img23{
    position: absolute;
    margin-left: 590px;
    margin-top: 150px;
    width: 134px;
}
div.block4 img.img24{
    position: absolute;
    margin-left: 946px;
    margin-top: 23px;
    width: 83px;
}
div.block4 img.img25{
    position: absolute;
    margin-left: 38px;
    margin-top: 450px;
    width: 127px;
}
div.block4 img.img26{
    position: absolute;
    margin-left: 515px;
    margin-top: 395px;
    width: 101px;
}
div.block4 img.img27{
    position: absolute;
    margin-left: 930px;
    margin-top: 485px;
    width: 101px;
}
div.block4 h2{
    position: absolute;
    color: #85a333;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 50px;
    width: auto;
    margin-left: 112px;
    margin-top: 202px;
}
div.block4 p{
    position: absolute;
    color: #db7f38;
    margin-left: 112px;
    margin-top: 285px;
    font-size: 25px;
    width: 710px;
}
div.block5{
    height: 375px;
    background-color: #85a333;
}
div.block5 img.img28{
    position: absolute;
    width: 83px;
    margin-left: 31px;
    margin-top: 135px;
}
div.block5 img.img29{
    position: absolute;
    width: 142px;
    margin-left: 1263px;
    margin-top: 141px;
}
div.block5 div{
    position: absolute;
    color: #ffffff;
    width: 300px;
    padding-top: 84px;
}
div.block5 div h2{
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    margin-top: 32px;
    width: auto;
}
div.block5 div p{
    margin-left: 0;
    width: 272px;
}
div.block5 div img{
    width: 25px;
}
div.block5 div.block5a{
    margin-left: 178px;
}
div.block5 div.block5b{
    margin-left: 576px;
}
div.block5 div.block5c{
    margin-left: 965px;
}
div.block6{
    height: 603px;
    background-color: #85a333;
    margin-top: 82px;
}
div.block6 h2{
    position: absolute;
    font-family: 'Amatic SC', cursive;
    color: #85a333;
    width: auto;
    font-size: 60px;
    font-weight: 700;
    margin-left: 645px;
    margin-top: 24px;
}
div.block6 h3{
    position: absolute;
    color: #ffffff;
    font-size: 40px;
    width: auto;
    text-transform: uppercase;
    margin-left: 560px;
    margin-top: 115px;
}
div.block6 img.img30{
    position: absolute;
    margin-left: 590px;
    margin-top: 30px;
    width: 262px;
}
div.block6 img{
    position: absolute;
}
div.block6 img.img31{
    width: 142px;
    margin-left: 61px;
    margin-top: 35px;
}
div.block6 img.img32{
    width: 83px;
    margin-left: 1267px;
    margin-top: 35px;
}
div.block6 img.img33{
    width: 101px;
    margin-left: 645px;
    margin-top: 250px;
}
div.block6 div{
    position: absolute;
    margin-left: 100px;
    width: 390px;
}
div.block6 div img{
    position: absolute;
    width: 81px;
}
div.block6 div h2{
    color: #ffffff;
    margin-left: 90px;
    margin-top: -8px;
    font-size: 30px;
}
div.block6 div p{
    width: 300px;
    padding-top: 42px;
    margin-left: 90px;
    color: #ffffff;
}
div.block6 div.block6_1{
    margin-left: 103px;
    margin-top: 175px;
}
div.block6 div.block6_2{
    margin-left: 103px;
    margin-top: 310px;
}
div.block6 div.block6_3{
    margin-left: 103px;
    margin-top: 455px;
}
div.block6 div.block6_4{
    margin-left: 865px;
    margin-top: 175px;
}
div.block6 div.block6_5{
    margin-left: 865px;
    margin-top: 310px;
}
div.block6 div.block6_6{
    margin-left: 865px;
    margin-top: 455px;
}
div.block7{
    height: 890px;
    background-image: url(images/img30.png);
    background-repeat: no-repeat;
}
div.block7 img{
    position: absolute;
}
div.block7 img.img34{
    width: 131px;
    margin-left: 615px;
    margin-top: 65px;
}
div.block7 img.img35{
    width: 107px;
    margin-left: 505px;
    margin-top: 465px;
}
div.block7 img.img36{
    width: 127px;
    margin-left: 557px;
    margin-top: 724px;
}
div.block7 img.img37{
    width: 329px;
    margin-left: 812px;
    margin-top: 100px;
}
div.block7 h2{
    position: absolute;
    font-family: 'Amatic SC', cursive;
    color: #ffffff;
    width: auto;
    font-size: 65px;
    margin-left: 875px;
    margin-top: 102px;
}
div.block7 div{
    color:#85a333;
    width: 455px;
    margin-left: 810px;
    padding-top: 65px;
}
div.block7 div h3{
    font-size: 30px;
    color: #db7f38;
    width: auto;
}
div.block7 div p{
    width: auto;
}
div.block7 div.block7a{
    padding-top: 270px;
}
div.block7 div span{
    position: absolute;
    padding-left: 400px;
    margin-top: -55px;
    font-size: 35px;
    width: auto;
}
div.block7 div p{
    font-size: 22px;
}
div.block8{
    height: 400px;
    background-color: #85a333;
    color: #ffffff;
}
div.block8 img{
    position: inherit;
    width: 25px;
    margin-top: 25px;
}
div.block8 img.img38{
    position: absolute;
    width: 101px;
    margin-left: 75px;
    margin-top: 105px;
}
div.block8 img.img39{
    position: absolute;
    width: 101px;
    margin-left: 1246px;
    margin-top: 121px;
}
div.block8 h2{
    font-family: 'Amatic SC', cursive;
    font-weight: 700; 
    font-size: 55px;
    margin-left: 482px;
    padding-top: 92px;
    width: auto;
}
div.block8 p{
    margin-left: 370px;
    width: 705px;
    text-indent: 30px;
    margin-top: 40px;
    font-size: 20px;
    text-align: center;
}
div.block8 img.img40{
    margin-left: 680px;
}
div.block9{
    height: 1150px;
    background-color: #ffffff;
}
div.block9 img{
    position: absolute;
}
div.block9 img.img41{
    width: 131px;
    margin-left: 25px;
    margin-top: 30px;
}
div.block9 img.img42{
    width: 107px;
    margin-left: 2px;
    margin-top: 738px;
    transform: rotate(70deg);
}
div.block9 img.img43{
    width: 127px;
    margin-left: 1318px;
    margin-top: 300px;
}
div.block9 img.img44{
    width: 83px;
    margin-left: 1360px;
    margin-top: 1015px;
}
div.block9a{
    position: absolute;
    margin-left: 180px;
    background-color: #db7f38;
    width: 1080px;
    height: 1030px;
    margin-top: 60px;
    color: #ffffff;
}
div.block9a h2{
    font-family: 'Amatic SC', cursive;
    font-weight: 700; 
    font-size: 70px;
    margin-left: 335px;
    margin-top: 40px;
    width: auto;
}
div.block9a h3{
    font-size: 25px;
    text-transform: uppercase;
    margin-left: 435px;
    margin-top: 7px;
    width: auto;
}
div.block9a img{
    position: absolute;
    width: 270px;
    margin-top: 47px;
}
div.block9a div{
    position: absolute;
    background-color: #ffffff;
    color: #85a333;
    width: 270px;
    height: 274px;
    margin-top: 47px;
    margin-left: 270px;
}
div.block9a h4{
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 37px;
    margin-left: 50px;
    margin-top: 55px;
    width: auto;
}
div.block9a p{
    width: 155px;
    text-indent: 10px;
    text-align: center;
    color: #db7f38;
    margin-top: 28px;
    font-size: 15px;
    margin-bottom: 23px;
}
div.block9a span{
    margin-left: 97px;
    font-size: 25px;
}
div.block9a span.price{
    margin-left: 107px;
}
div.block9a img.img45{
    margin-left: 540px;
}
div.block9a div.block9a_2{
    margin-left: 810px;
}
div.block9a div.block9a_3{
    margin-top: 317px;
    margin-left: 0;
}
div.block9a img.img46{
    margin-left: 270px;
    margin-top: 317px;
}
div.block9a div.block9a_4{
    margin-top: 317px;
    margin-left: 540px;
}
div.block9a img.img47{
    margin-left: 810px;
    margin-top: 317px;
}
div.block9a img.img48{
    margin-left: 0px;
    margin-top: 591px;
}
div.block9a div.block9a_5{
    margin-top: 591px;
    margin-left: 270px;
}
div.block9a img.img49{
    margin-left: 540px;
    margin-top: 591px;
}
div.block9a div.block9a_6{
    margin-top: 591px;
    margin-left: 810px;
}
div.block10{
    background-color: #85a333;
    color: #ffffff;
    height: 453px;
}
div.block10 img{
    position: absolute;
}
div.block10 img.img50{
    width: 83px;
    margin-left: 20px;
    margin-top: 10px;
}
div.block10 img.img51{
    width: 142px;
    margin-left: 1250px;
    margin-top: 20px;
}
div.block10 img.img52{
    width: 134px;
    margin-left: 395px;
    margin-top: 320px;
}
div.block10 img.img53{
    width: 101px;
    margin-left: 915px;
    margin-top: 290px;
}
div.block10 img.img54{
    width: 238px;
    height: 78px;
    margin-left: 605px;
    margin-top: 30px;
}
div.block10 h2{
    position: absolute;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color: #85a333;
    font-size: 55px;
    margin-left: 648px;
    margin-top: 37px;
    width: auto;
}
input::placeholder {
    color: #ffffff;
}
div.block10 span{
    position: absolute;
    color: #ffffff;
    font-size: 20px;
    width: auto;
}
div.block10 span.label1{
    position: absolute;
    margin-top: 135px;
    margin-left: 100px;
}
div.block10 input{
    position: absolute;
    width: 234px;
    color: #ffffff;
    border: solid 1px;
    border-color: #ffffff;
    background-color: #85a333;
    border-radius: 5px;
}
div.block10 input.how_many{
    margin-left: 100px;
    margin-top: 165px;
}
div.block10 span.label2{
    margin-top: 230px;
    margin-left: 100px;
}
div.block10 input.name{
    margin-left: 100px;
    margin-top: 265px;
}
div.block10 span.label3{
    margin-top: 135px;
    margin-left: 600px;
}
div.block10 input.date{
    margin-left: 600px;
    margin-top: 165px;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
div.block10 span.label4{
    margin-top: 235px;
    margin-left: 600px;
}
div.block10 input.email{
    margin-left: 600px;
    margin-top: 265px;
}
div.block10 span.label5{
    margin-top: 135px;
    margin-left: 1025px;
}
div.block10 input.time{
    margin-left: 1025px;
    margin-top: 165px;
}
div.block10 span.label6{
    margin-top: 235px;
    margin-left: 1025px;
}
div.block10 input.phone{
    margin-left: 1025px;
    margin-top: 265px;
}
div.block10 button{
    position: absolute;
    width: 240px;
    color: #ffffff;
    border: solid 1px;
    border-color: #ffffff;
    background-color: #85a333;
    border-radius: 5px;
    margin-top: 352px;
    margin-left: 600px;
}
div.block11{
    height: 247px;
}
div.block11 img.img55{
    position: absolute;
    width: 131px;
    margin-left: 57px;
    margin-top: 25px;
}
div.block11 img.img56{
    position: absolute;
    width: 127px;
    margin-left: 1245px;
    margin-top: 35px;
}
div.block11 h2{
    font-size: 50px;
    color: #db7f38;
    margin-left: 705px;
    margin-top: 50px;
    width: auto;
}
div.block11 p{
    font-size: 23px;
    color: #db7f38;
    width: 675px;
    text-align: center;
    margin-left: 390px;
    text-indent: -25px;
}
div.block11 h3{
    font-family: 'Amatic SC', cursive;
    font-size: 26px;
    color: #85a333;
    margin-left: 665px;
    margin-top: 37px;
    width: auto;
}

div.footer{
    background-color: #85a333;
    color: #ffffff;
    height: 325px;
}
div.footer img{
    position: absolute;
}
div.footer img.img57{
    margin-top: 65px;
    width: 101px;
    transform: rotate(5deg);

}
div.footer img.img58{
    margin-top: 203px;
    margin-left: 542px;
    width: 142px;
}
div.footer span{
    position: absolute;
    font-family: 'Amatic SC', cursive;
    font-size: 26px;
    margin-left: 180px;
    width: auto;
}
div.footer div.footer_1{
    position: absolute;
    color: #ffffff;
    margin-left: 180px;
    margin-top: 60px;
    width: 328px;
}
div.footer div h2{
    font-family: 'Amatic SC', cursive;
    font-size: 32px;
    width: auto;
}
div.footer div ul{
    list-style-type: none;
    padding-top: 33px;
    margin-left: -45px;
}
div.footer div a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding-top: 10px;
    width: auto;
}
div.footer ul{
    width: auto;
}
div.footer div.footer_1 p{
    padding-top: 30px;
    font-size: 20px;
    width: 328px;
    line-height: 140%;
}
div.footer div.footer_2{
    position: absolute;
    margin-left: 730px;
    margin-top: 60px;
    width: 200px;
}
div.footer div.footer_3{
    position: absolute;
    margin-left: 980px;
    margin-top: 60px;
    width: 200px;
}
div.footer div.footer_4{
    position: absolute;
    margin-left: 1200px;
    margin-top: 60px;
    width: 200px;
}
